* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(83, 98, 113);
}

.form {
  align-items: center;
  background-image: url('https://www.proteste.org.br/-/media/proteste/images/home/dinheiro/cambio/pim-cambio.jpg?rev=0b724b00-a190-40f9-8ad5-d9752e120404');
  border-radius: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  margin: 200px auto;
  margin-top: 15%;
  text-align: center;
  width: 400px;
}

.pag-login {
  border: white;
  border-radius: 5px;
  height: 25px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.btn-login {
  background-color: rgb(3, 58, 58);
  border-radius: 5px;
  color: aliceblue;
  height: 30px;
  width: 60px;
}
