* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  margin-top: 50px;
}

button {
  height: 22px;
  width: 50px;
}
