* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: rgba(0, 0, 0);
  color: rgb(252, 247, 247);
  display: flex;
  height: 60px;
  justify-content: flex-end;
}

.span-header {
  font-size: 14px;
  margin-right: 50px;
}
