* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
  align-items: center;
  background-color: rgb(20, 33, 61);
  color: rgb(252, 247, 247);
  padding: 20px;
  text-align: center;
  width: 100%;
}


.item-table {
  padding: 10px;
}
